<h3>Virtual Machine Form</h3>

<div class="card">
    <div class="card-body">
      <form [formGroup]="vmForm" (ngSubmit)="addVirtualMachine()">
        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" formControlName="name" #name/>
          <app-input-error name="name" [control]="vmForm.controls.name"></app-input-error>
        </div>
        <div class="form-group">
          <label class="col-md-4">Cpu</label>
          <input type="number" class="form-control" formControlName="cpu"/>
          <app-input-error name="cpu" [control]="vmForm.controls.cpu"></app-input-error>
        </div>
        <div class="form-group">
          <label class="col-md-4">Ram</label>
          <input type="number" class="form-control" formControlName="ram"/>
          <app-input-error name="ram" [control]="vmForm.controls.ram"></app-input-error>
        </div>
        <div class="form-group">
          <label class="col-md-4">Disk size (GB)</label>
          <input type="number" class="form-control" formControlName="disk"/>
          <app-input-error name="disk" [control]="vmForm.controls.disk"></app-input-error>
        </div>
        <div class="form-group">
          <label class="col-md-4">DIsk type</label>
          <input type="number" class="form-control" formControlName="disk_type"/>
          <app-input-error name="disk_type" [control]="vmForm.controls.disk_type"></app-input-error>
        </div>
        <div class="form-group">
          <app-button [disabled]="vmForm.pristine || vmForm.invalid">Save</app-button>
        </div>
      </form>
    </div>
  </div>