<h3>Virtual MAchines</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Cpu</th>
      <th scope="col">Ram</th>
      <th scope="col">Disk</th>
      <th scope="col">Disk Type</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let machine of virtualMachines | async">
      <th scope="row">{{ machine.id }}</th>
      <td>{{ machine.name }}</td>
      <td>{{ machine.cpu }}</td>
      <td>{{ machine.ram }} GB</td>
      <td>{{ machine.disk }}</td>
      <td>{{ machine.diskType }}</td>
      <td>
        <a class="btn btn-default" routerLink="/virtual-machines/view/{{ machine.id }}">
          <i class="fa fa-eye" title="View"></i>
        </a>
        <a class="btn btn-default" routerLink="/virtual-machines/edit/{{ machine.id }}">
          <i class="fa fa-edit" title="Edit"></i>
        </a>
        <a class="btn btn-default" href="#">
          <i class="fa fa-trash" title="Align Right"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
